DISCORD_TOKEN=
CLIENT_ID=1541831397004550204
GUILD_ID=1544249019876769863
COMMAND_PREFIX=!
SUPPORT_SERVER=https://discord.gg/V7mssB2AZ
OWNER_ID=1543971600360022088
NO_PREFIX_USERS=1105509323511169086,1497187125974798416
ACTIVITY_NAME=!help
ACTIVITY_TYPE=LISTENING

# Lavalink single-node config
LAVALINK_HOST=lavalinkv4.serenetia.com
LAVALINK_SSL=true
LAVALINK_PORT=443
LAVALINK_PASSWORD=https://dsc.gg/ajidevserver

# Alternative: full Lavalink node array JSON
# LAVALINK_NODES=[{"name":"Ajidev-US","host":"lavalinkv4.serenetia.com","port":443,"password":"https://dsc.gg/ajidevserver","ssl":true,"region":"us"}]
